{{#if @site.members_enabled}}
<section class="newsletter-box" aria-labelledby="newsletter-title">
  <h2 class="newsletter-title" id="newsletter-title">{{t "Stay in touch"}}</h2>
  <p class="newsletter-description">{{t "Get the latest posts delivered straight to your inbox."}}</p>
  <form class="newsletter-form" data-members-form="subscribe" aria-label="{{t "Newsletter signup"}}">
    <label class="sr-only" for="newsletter-email">{{t "Email address"}}</label>
    <input
      class="form-input"
      id="newsletter-email"
      data-members-email
      type="email"
      placeholder="{{t "you@example.com"}}"
      required
      autocomplete="email"
    />
    <button class="btn btn-primary" type="submit">{{t "Subscribe"}}</button>
  </form>
  <div class="newsletter-success" data-members-success style="display:none;">
    {{t "Thanks for subscribing!"}}
  </div>
  <div class="newsletter-error" data-members-error style="display:none;">
    {{t "Something went wrong. Please try again."}}
  </div>
</section>
{{/if}}
