{{#if @site.members_enabled}}
<section class="newsletter-box newsletter-box--{{@custom.newsletter_style}}" aria-labelledby="newsletter-title">
  <h3 class="newsletter-title" id="newsletter-title">{{t "Enjoyed reading?"}}</h3>
  <span class="newsletter-prompt" aria-hidden="true">{{t "Email updates"}}</span>
  <p class="newsletter-desc newsletter-desc--subtle" id="newsletter-desc">{{t "Receive new journal entries by email."}}</p>
  <p class="newsletter-desc newsletter-desc--standard" aria-hidden="true">{{t "If you'd like to receive new posts straight to your inbox, enter your email below."}}</p>
  <form class="newsletter-form" data-members-form="subscribe" aria-label="{{t "Newsletter signup"}}">
    <label class="sr-only" for="newsletter-email">{{t "Email address"}}</label>
    <input
      class="newsletter-input"
      id="newsletter-email"
      data-members-email
      type="email"
      placeholder="{{t "you@example.com"}}"
      required
      autocomplete="email"
    />
    <button class="newsletter-submit" type="submit">{{t "Subscribe"}}</button>
  </form>
  <div class="newsletter-success" data-members-success style="display:none;">
    {{t "Thanks for subscribing!"}}
  </div>
  <div class="newsletter-error" data-members-error style="display:none;">
    {{t "Something went wrong. Please try again."}}
  </div>
</section>
{{/if}}
