<nav class="pagination reveal" role="navigation" aria-label="{{t "Pagination"}}">
  <div class="pagination-inner">
    {{#if pagination.prev}}
      {{#get "posts" limit="1" page=pagination.prev}}
        <a class="pagination-link pagination-link--prev reveal" href="{{page_url ../pagination.prev}}">
          <span class="pagination-label">&larr; {{t "Next read"}}</span>
          <span class="pagination-title">{{#foreach posts}}{{title}}{{/foreach}}</span>
        </a>
      {{/get}}
    {{else}}
      <span class="pagination-placeholder"></span>
    {{/if}}
    {{#if pagination.next}}
      {{#get "posts" limit="1" page=pagination.next}}
        <a class="pagination-link pagination-link--next reveal" href="{{page_url ../pagination.next}}">
          <span class="pagination-label">{{t "Continue reading"}} &rarr;</span>
          <span class="pagination-title">{{#foreach posts}}{{title}}{{/foreach}}</span>
        </a>
      {{/get}}
    {{else}}
      <span class="pagination-placeholder"></span>
    {{/if}}
  </div>
</nav>
