<nav class="pagination" role="navigation" aria-label="{{t "Pagination"}}">
  {{#if pagination.prev}}
    <a class="pagination-link" href="{{page_url pagination.prev}}">&larr; {{t "Previous"}}</a>
  {{else}}
    <span class="pagination-link" disabled>&larr; {{t "Previous"}}</span>
  {{/if}}
  <span class="pagination-info">{{t "Page"}} {{pagination.page}} {{t "of"}} {{pagination.pages}}</span>
  {{#if pagination.next}}
    <a class="pagination-link" href="{{page_url pagination.next}}">{{t "Next"}} &rarr;</a>
  {{else}}
    <span class="pagination-link" disabled>{{t "Next"}} &rarr;</span>
  {{/if}}
</nav>
