{{!< default}}

<div class="container">
  <header class="author-header">
    <h1 class="author-name">{{primary_author.name}}</h1>
    {{#if primary_author.bio}}
      <p class="author-bio">{{primary_author.bio}}</p>
    {{/if}}
    <div class="author-detail-meta">
      {{#if primary_author.location}}
        <span>{{primary_author.location}}</span>
      {{/if}}
      {{#if primary_author.website}}
        {{#if primary_author.location}}<span aria-hidden="true">&middot;</span>{{/if}}
        <a href="{{primary_author.website}}" target="_blank" rel="noopener noreferrer">{{t "Website"}}</a>
      {{/if}}
      {{#social_accounts primary_author}}
        <span aria-hidden="true">&middot;</span>
        <a href="{{href}}" target="_blank" rel="noopener noreferrer">{{name}}</a>
      {{/social_accounts}}
    </div>
  </header>

  {{#foreach posts}}{{> "post-full"}}{{/foreach}}{{> "pagination"}}
</div>
