{{!< default}}

{{#post}}
<article class="post-content container" role="article" itemscope itemtype="https://schema.org/Article">
  <header class="post-header">
    <h1 class="post-full-title" itemprop="headline">{{title}}</h1>
    {{#if custom_excerpt}}
      <p class="post-excerpt" itemprop="description">{{custom_excerpt}}</p>
    {{/if}}

    <div class="post-meta">
      <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format="MMM D, YYYY"}}</time>
      <span class="sep" aria-hidden="true">&middot;</span>
      <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
    </div>
  </header>

  {{> "toc"}}

  <div class="post-content" itemprop="articleBody">
    {{content}}
  </div>

  {{> "author-box"}}

  {{> "newsletter"}}
  
</article>
{{/post}}
