{{!< default}}

{{#post}}
<article class="post-content container" role="article" itemscope itemtype="https://schema.org/Article">
  <header class="post-header">
    <h1 class="post-full-title" itemprop="headline">{{title}}</h1>

    {{#if custom_excerpt}}
      <p class="post-excerpt" itemprop="description">{{custom_excerpt}}</p>
    {{/if}}

    <div class="post-meta">
      <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format="MMM D, YYYY"}}</time>
      <span class="sep" aria-hidden="true">&middot;</span>
      <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
      {{#if tags}}
        <span class="sep" aria-hidden="true">&middot;</span>
        <div class="post-tags">
          {{#foreach tags limit="5"}}
            <a class="post-tag" href="{{url}}" {{#if @first}}itemprop="keywords"{{/if}}>{{name}}</a>{{#if @last}}{{else}}<span class="tag-sep" aria-hidden="true">, </span>{{/if}}
          {{/foreach}}
        </div>
      {{/if}}
    </div>
  </header>

  {{#if feature_image}}
    {{#if @custom.show_featured_image}}
      <figure class="featured-image">
        <img src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
      </figure>
    {{/if}}
  {{/if}}

  {{> "toc"}}

  <div class="post-content" itemprop="articleBody">
    {{content}}
  </div>

  {{> "author-box"}}
  {{> "comments"}}
  {{> "related-posts"}}

  <nav class="pagination" role="navigation" aria-label="{{t "Post navigation"}}">
    <div class="pagination-inner">
      <div class="pagination-link pagination-link--prev">
        {{#next_post}}
          <span class="pagination-label">&larr; {{t "Next read"}}</span>
          <a class="pagination-title" href="{{url}}">{{title}}</a>
        {{/next_post}}
      </div>

      <div class="pagination-link pagination-link--next">
        {{#prev_post}}
          <span class="pagination-label">{{t "Continue reading"}} &rarr;</span>
          <a class="pagination-title" href="{{url}}">{{title}}</a>
        {{/prev_post}}
      </div>
      
    </div>
  </nav>

  {{> "newsletter"}}
</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "publisher": {
    "@type": "Organization",
    "name": "{{@site.title}}",
    "url": "{{@site.url}}"{{#if @site.logo}},
    "logo": {
      "@type": "ImageObject",
      "url": "{{@site.logo}}"
    }{{/if}}
  },
  "author": {
    "@type": "Person",
    "name": "{{primary_author.name}}",
    "url": "{{primary_author.url}}"
  },
  "headline": "{{title}}",
  "url": "{{url}}",
  "datePublished": "{{date format="YYYY-MM-DDTHH:mm:ss.SSSZ"}}",
  "dateModified": "{{date format="YYYY-MM-DDTHH:mm:ss.SSSZ"}}"{{#if feature_image}},
  "image": {
    "@type": "ImageObject",
    "url": "{{feature_image}}"
  }{{/if}},
  "description": "{{excerpt}}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{url}}"
  }
}
</script>
{{/post}}
